header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  z-index: 9999;
  background: white;
}

.show__header-shrink {
  box-shadow: 0px 0px 10px gray;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav__form {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 10px;
  position: relative;
  border: none;
  flex: 1;
  justify-content: space-between;
  background: #edf2f4;
  input {
    background: transparent;
    border: none;
    outline: none;
    flex: 1;
  }
}

.nav__list-closer {
  display: none;
}

.nav__bar {
  display: none;
  font-size: 25px;
}

.nav__logo a {
  font-size: 35px;
}

.nav__overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #0005;
  backdrop-filter: blur(3px);
  display: none;
}

.show__nav-overlay {
  display: block;
  z-index: 998;
}

@media (max-width: 850px) {
  .nav__list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
    transition: 0.4s;
  }

  .nav__bar {
    display: block;
  }

  .show__nav-list {
    left: 0;
    z-index: 999;
  }
  .nav__list-closer {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: red;
    cursor: pointer;
  }
}


.active {
  color: red;
  text-decoration: underline;
}


.nav__logo a{
  color: black !important;
  text-decoration: none;
}
