* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

a {
  color: inherit;
  cursor: pointer;
}

$black: black;
$white: white;

button {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid $black;
  border-radius: 10px;
  background: $black;
  color: $white;
  transition: 0.4s;
}

button:hover {
  background: $white;
  color: $black;
}

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0 auto;
}
