.single__page {
  display: flex;
  justify-content: space-between;
  height: 760px;
  padding: 80px 0px;
  .teacher__image {
    width: 45%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .teacher__info {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    h1 {
      font-size: 50px;
    }
    button {
      width: 200px;
      height: 50px;
      border-radius: 10px;
      color: white;
      background: black;
      border: 1px solid black;
      transition: 0.4s;
    }
  }
}



@media (max-width: 900px) {
  .single__page {
    flex-direction: column;
    gap: 50px;
    padding-top: 80px;
  }
  .teacher__image,
  .teacher__info {
    width: 100% !important;
  }
}
